@import url(base.css);

:root{
    --colorBW1: #E2E2E2;;
    --colorBGray: rgb(90, 30, 30, 0.5);
}

div.boxTitle{
    display: flex;
    justify-content: center;
    margin-top: 15%
}

h1.movieTitle{
    box-sizing: content-box;
    width: 60%;
    cursor: pointer;
    font-size: 2.5vw;
    text-align: center;
    padding: 2.5% 4% 2.5% 4%;
    color:var(--colorBW1);
    border: solid 3px;
    letter-spacing: 1vw;
    transition-delay: 100ms;
    transition-duration: 350ms;
}
h1.movieTitle:hover {
    box-sizing: content-box;
    letter-spacing: 1.2vw;
    padding: 3% 6% 3% 6%;
    margin-bottom: -1%;
    border-radius: 5px;  
}

div.boxShopButton{
    margin: 15% auto;
    box-sizing: content-box;
    width: 14%;
    background-color: none;    
    font-size: 2vw;
    border: solid 3px;
    border-color: var(--colorBW1);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition-delay: 100ms;
    transition-duration: 250ms;
}
div.boxShopButton:hover{
    background-color: var(--colorBGray);
    border-color: var(--colorBGray);
}

a.shopButton{
    color: var(--colorBW1);
}

/*Background-imame and color for each banner*/
/*Avengers Banner*/
div#avengersCover{
    background-image: url("../images/avengers_endgame.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a#avengersLinkPage{
    color: rgb(255, 255, 0);
}

/*Matrix Banner*/
div#matrixCover{
    background-image: url("../images/matrix.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a#matrixLinkPage{
    color: rgb(0, 255, 0);
}


div#lorCover{
    background-image: url("../images/lord_of_the_rings.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}
a#lorLinkPage{
    color: rgb(255, 200, 20);
}