div#content{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, 30vh);
    grid-gap: 1px;
}

div#moviesBanner{
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    grid-gap: 10px;
    background-color: black;
}

div.movies{
    background-color: var(--color3);
}

div#sideBanner{
    display: grid;
    grid-column: 5 / 6;
    grid-row: 1 / 4;
    background-color: var(--color4);
}

