@import url(base.css);
@import url(grid.css);

/*

# id
. class

https://css-tricks.com/snippets/css/complete-guide-grid/

https://cssicon.space/#/
https://fontawesome.com/v4.7.0/icons/

*/
:root{
    --color1: rgb(247, 88, 88);
    --color2: rgb(122, 191, 255);
    --color3: rgb(175, 53, 175);
    --color4: rgb(245, 216, 53);
}


div#headLogo{
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: var(--color1);
    padding: 2% 2% 2% 2%;
}
h1#nameLogo{
    text-align:left;
    font-size: 9vh;
}

nav#navBar{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 3%;   
    background-color: var(--color2);
}

a.menuItems{
    text-align: center;
}