@import url(banner.css);
@import url(navbar.css);

:root{
    --color1: rgb(237, 242, 244);
    --color2: rgb(122, 191, 255);
    --color3: rgb(175, 53, 175);
    --color4: rgb(75, 77, 87);
}

div#headLogo{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 90%;
    background-color: var(--color1);
    padding: 1% 1% 1% 1%;
}

h1#nameLogo{
    text-align:left;
    font-size: 8vw;
}

div#content{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 500px);
}

div.moviesBanner{
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    grid-gap: 10px;
    background-color: black;
}

div.movies{
    background-color: var(--color3);
}

div#sideBanner{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: var(--color4);
    grid-template-rows: repeat(6, 16.66%);
}

img.userPhoto{
    display: block;
    margin-left: 33%;
}

p.userText{ 
    text-align: center;
    font-family: CaviarDreamsItalic;
    margin-top: 90px;
}

footer#footerContent{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10vh;
    background-color: var(--color1);
}

a.footerItems{
    color: black;
    text-align: center;
    align-self: center;
    font-size:2vw;
}